{
  "extends": [ "axway/env-node", "axway/+mocha" ],
  "globals": {
    "Ti": false
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"],
    "no-lonely-if": "off"
  }
}
