.DS_Store
.git*
node_modules
*.sublime-project
*.sublime-workspace
docs

# proxy detection
lib/commands/lib/*.java

# Testing/security
tests/
junit_report.xml
retirejs.output.json
coverage/
.nyc_output/

# CI
.travis.yml
Jenkinsfile
dangerfile.js
npm-audit.json
.github/

# eslint
.eslintrc
.eslintignore
