.DS_Store
.git*
node_modules
*.sublime-project
*.sublime-workspace
docs
CHANGELOG.md

# proxy detection
lib/commands/lib/*.java

# Testing/security
test/
junit_report.xml
retirejs.output.json
coverage/
.nyc_output/
vitest.config.js

# CI
dangerfile.js
npm-audit.json
.github/

# eslint
.eslintrc.cjs
.eslintignore
.eslintcache
